<div class="todo-container">
    <h2>TODO List</h2>
    <p>A place to store your todos</p>
    <input [(ngModel)]="filterText" type="text" placeholder="Filter your todos" (keyup)="filter()" />
    <ol class="todos">
        <li *ngFor="let todo of todos" [ngClass]="{ strikethrough: todo.completed }"><span><button class="complete-btn"
                    *ngIf="!todo.completed"
                    (click)="completeTodo(todo)">Complete</button>{{todo.task}}</span><span><button class="done-btn"
                    (click)="removeTodo(todo)">X</button></span></li>
    </ol>
    <input type="text" placeholder="Add your todo" [(ngModel)]="newTodo" />
    <button class="add-button" (click)="addTodo()">Add</button>
</div>